* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    background-color: #F9EFDC;
}

button:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 80%;
}

th, td {
    width: 30vw;
    min-width: 125px;
    height: 10vh;
    text-align: left;
    border: 1px solid black;
    padding: 15px;
}

th {
    background-color: #F6E7CB;
}

td {
    background-color: #FCF7EE;
}

.addButton {
    margin-top: 20px;
    padding: 20px 40px;
}

.readButton, .deleteButton {
    margin-top: 5px;
    padding: 5px 10px;
}